# coding: utf-8
#  
#   Scimitar: Ye Distributed Debugger
#   ~~~~~~~~
#   :copyright:
#   Copyright (c) 2016 Parsa Amini
#   Copyright (c) 2016 Hartmut Kaiser
#   Copyright (c) 2016 Thomas Heller
#   :license:
#   Distributed under the Boost Software License, Version 1.0. (See accompanying
#   file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)
#  
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C lib
*.so

# Visual Studio
*.sln
*.suo
*.pyproj
.vs/

# Vim
*.swp

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

